streamlit
yt-dlp

numpy==1.26.4
pandas==2.2.2
Pillow

opencv-python-headless==4.8.1.78

gspread
google-auth
google-auth-oauthlib
oauth2client

beautifulsoup4
requests

rapidfuzz==3.6.2

gunicorn
